In [1]:
import math
import pandas as pd
import matplotlib.pyplot as plt
from pandas_datareader.data import DataReader
from datetime import datetime as dt

In [2]:
selected_stocks = ['AAPL','MSFT','AMZN','GOOGL',
                    'TSLA','NVDA','KO','WMT','DIS','LIN']

In [3]:
goog = DataReader(selected_stocks,  "yahoo", dt(2017,1,1), dt(2022,1,1))

In [4]:
goog.columns

MultiIndex([('Adj Close',  'AAPL'),
            ('Adj Close',  'MSFT'),
            ('Adj Close',  'AMZN'),
            ('Adj Close', 'GOOGL'),
            ('Adj Close',  'TSLA'),
            ('Adj Close',  'NVDA'),
            ('Adj Close',    'KO'),
            ('Adj Close',   'WMT'),
            ('Adj Close',   'DIS'),
            ('Adj Close',   'LIN'),
            (    'Close',  'AAPL'),
            (    'Close',  'MSFT'),
            (    'Close',  'AMZN'),
            (    'Close', 'GOOGL'),
            (    'Close',  'TSLA'),
            (    'Close',  'NVDA'),
            (    'Close',    'KO'),
            (    'Close',   'WMT'),
            (    'Close',   'DIS'),
            (    'Close',   'LIN'),
            (     'High',  'AAPL'),
            (     'High',  'MSFT'),
            (     'High',  'AMZN'),
            (     'High', 'GOOGL'),
            (     'High',  'TSLA'),
            (     'High',  'NVDA'),
            (     'High',    'KO'),
            (     'High',   'WMT'),
            (     'High',   'DIS'),
            (     'High',   'LIN'),
            (      'Low',  'AAPL'),
            (      'Low',  'MSFT'),
            (      'Low',  'AMZN'),
            (      'Low', 'GOOGL'),
            (      'Low',  'TSLA'),
            (      'Low',  'NVDA'),
            (      'Low',    'KO'),
            (      'Low',   'WMT'),
            (      'Low',   'DIS'),
            (      'Low',   'LIN'),
            (     'Open',  'AAPL'),
            (     'Open',  'MSFT'),
            (     'Open',  'AMZN'),
            (     'Open', 'GOOGL'),
            (     'Open',  'TSLA'),
            (     'Open',  'NVDA'),
            (     'Open',    'KO'),
            (     'Open',   'WMT'),
            (     'Open',   'DIS'),
            (     'Open',   'LIN'),
            (   'Volume',  'AAPL'),
            (   'Volume',  'MSFT'),
            (   'Volume',  'AMZN'),
            (   'Volume', 'GOOGL'),
            (   'Volume',  'TSLA'),
            (   'Volume',  'NVDA'),
            (   'Volume',    'KO'),
            (   'Volume',   'WMT'),
            (   'Volume',   'DIS'),
            (   'Volume',   'LIN')],
           names=['Attributes', 'Symbols'])

In [6]:
goog['Adj Close']

Symbols,AAPL,MSFT,AMZN,GOOGL,TSLA,NVDA,KO,WMT,DIS,LIN
Date,,,,,,,,,,
2017-01-03,27.174755,57.645378,37.683498,40.400501,14.466000,25.147223,34.493885,61.311600,101.584358,104.710739
2017-01-04,27.144337,57.387447,37.859001,40.388500,15.132667,25.733932,34.370098,61.668774,102.886719,104.665970
2017-01-05,27.282379,57.387447,39.022499,40.651001,15.116667,25.080664,34.452614,61.802715,102.829269,103.609024
2017-01-06,27.586531,57.884869,39.799500,41.260502,15.267333,25.415922,34.444366,60.954414,104.361458,104.083733
2017-01-09,27.839212,57.700638,39.846001,41.359001,15.418667,26.446365,34.097778,61.356251,103.767715,104.397255
...,...,...,...,...,...,...,...,...,...,...
2021-12-27,179.289444,339.270996,169.669495,147.906494,364.646667,309.160919,56.964684,139.104019,152.800003,338.205719
2021-12-28,178.255447,338.082092,170.660995,146.686996,362.823334,302.936737,57.188072,141.100250,155.199997,338.570099
2021-12-29,178.344925,338.775635,169.201004,146.654999,362.063324,299.729767,57.256062,141.031082,154.869995,340.155670
2021-12-30,177.171722,336.170044,168.644501,146.200500,356.779999,295.583618,57.090942,141.485657,155.929993,339.101868
2021-12-31,176.545364,333.197876,166.716995,144.852005,352.260010,293.835236,57.508587,142.987793,154.889999,341.169983